<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h2>Login Form</h2>
        <form action="/login" method="post" style="text-align: left;">
            <label>Username:</label><br>
            <input type="text" name="username"><br><br>

            <label>Password:</label><br>
            <input type="password" name="password"><br><br>

            <input type="submit" value="Login" style="background-color: green; color: white;">
        </form><br>
        <a href="/register">
            <button type="button" style="background-color: blue; color: white;">Register</button>
        </a>
    </div>
</body>
</html>